<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- for Ex_1_Empty_Bean-->
       <bean id="dev" class="Chapter_2_First_Spring_App.beans.Developer"/>


       <!-- for Ex_2_Constructor_Cases-->
       <bean id="javaDev" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg value="Alex"/>
              <constructor-arg value="Java"/>
              <constructor-arg value="3"/>
              <constructor-arg value="true"/>
       </bean>

       <bean id="intern" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg value="Roman"/>
       </bean>


       <!--Find the problem-->
       <bean id="dotNetDev" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg value="DotNet"/>
              <constructor-arg value="Peter"/>
              <constructor-arg value="2"/>
              <constructor-arg value="false"/>
       </bean>

       <!--Solution-->
       <!--<bean id="dotNetDev" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg index="1" value="DotNet"/>
              <constructor-arg index="0" value="Peter"/>
              <constructor-arg value="2"/>
              <constructor-arg value="false"/>
       </bean>-->


       <!-- Find the problem -->
       <bean id="anonymous" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg value="15"/>
       </bean>

       <!-- Solution -->
<!--       <bean id="anonymous" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg type="int" value="15"/>
       </bean>-->

       <bean id="newProject" name="taxiBumer taxiBiber, taxiNett; taxiUvezet" class="Chapter_2_First_Spring_App.beans.Project">
              <constructor-arg value="taxiBumer"/>
              <constructor-arg ref="javaDev"/>
       </bean>


       <!-- for Ex_3_Setter_Cases-->
       <bean id="Java 10" name="Maybe later" class="Chapter_2_First_Spring_App.beans.Project">
              <property name="name" value="Java 10. Early Release"/>
              <property name="teamLead" ref="teamLead"/>
              <property name="teamLeadHelper" ref="workingHorse"/>
       </bean>

       <bean name="teamLead" class="Chapter_2_First_Spring_App.beans.Developer">
              <property name="name" value="Doug Lea"/>
              <property name="skill" value="Java"/>
              <property name="level" value="100"/>
              <property name="isCoffeeConsumer" value="true"/>
       </bean>

       <bean id="senior" name="workingHorse" class="Chapter_2_First_Spring_App.beans.Developer">
              <constructor-arg value="Aleksey Shipilev"/>
              <property name="skill" value="Java"/>
              <property name="level" value="10"/>
              <property name="isCoffeeConsumer" value="true"/>
       </bean>

       <bean id="cool_startup" class="Chapter_2_First_Spring_App.beans.Project">
              <property name="name" value="pied piper"/>
              <property name="teamLead">
                     <bean class="Chapter_2_First_Spring_App.beans.Developer">
                            <constructor-arg value="Richard Hendricks"/>
                            <property name="isCoffeeConsumer" value="true"/>
                     </bean>
              </property>
       </bean>

       <alias name="cool_startup" alias="piper"/>


       <!-- for Chapter_3_Scopes-->
       <bean id="scalaDev" class="Chapter_2_First_Spring_App.beans.Developer" >

              <!-- for Ex_3_Prototype-->
       <!--<bean id="scalaDev" class="Chapter_2_First_Spring_App.beans.Developer" scope="prototype">-->
              <constructor-arg value="Martin Odersky"/>
              <constructor-arg value="Scala"/>
              <constructor-arg value="10"/>
              <constructor-arg value="false"/>
       </bean>

</beans>